@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
    background-color: rgb(34, 32, 32);
}

footer > p {
    color:white;
}

/* p {
    margin: 0;
} */

/* main {
    margin: 0;
    padding: 0;
    background: rgb(253, 253, 253);
} */


/* layout css */
.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(87, 80, 80);
    color: white;
    height: 40px;
    overflow: hidden;
}

.logo, .auth {
    width: 10%;
}

.logo > img, .auth > img {
    width: 100%;
}

/* main navigation css */
.main-nav {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.main-nav-item {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-nav-item:hover {
    cursor: pointer;
    background-color: red;
}

.main-nav-item > a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
